<!--navbar -->
<nav class="navbar navbar-default navbar-customAdmin navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="@Url.Content("/Home/Index")">@BlogApp.Helpers.StaticValues.ApplicationNameText</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->


        @{
            var userInfo = BlogApp.Helpers.StaticValues.ReadCookie();
            if (userInfo == null) { }
            else
            {
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Content("/Admin/Index")">@BlogApp.Helpers.StaticValues.AdminCreateBlogText</a>
                    </li>
                    @if (Convert.ToInt16(userInfo[4]) == Convert.ToInt16(BlogApp.Helpers.StaticValues.Roles.SuperAdmin))
                    {  
                        <li>
                            <a href="@Url.Content("/Admin/BlogList")">@BlogApp.Helpers.StaticValues.AdminUpdateBlogText</a>
                        </li>
                   
                        <li>
                            <a href="@Url.Content("/Admin/AddUsers")">@BlogApp.Helpers.StaticValues.NewAdminUserText</a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Content("/Admin/Logout")">@BlogApp.Helpers.StaticValues.LogoutText</a>
                    </li>
                </ul>
            </div>
            <div class="adminnamesticky">
                Welcome Admin!<br>
                @Convert.ToString(userInfo[2])  @Convert.ToString(userInfo[3])<br>
                @userInfo[6]
            </div>
            }
            
        }




    </div>

</nav>
<div style="height: 65px;">&nbsp;</div>
