@model BlogApp.Model.BlogDetailHeader

<header class="intro-header" style="background-image: url(@Url.Content("~/Images/"+ BlogApp.Helpers.StaticValues.BlogPageHeaderImage))">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">

                    <h1>@Model.BlogTitle</h1>
                    <h2 class="subheading">@Convert.ToString(Model.BlogSubTitle)</h2>
                    <span class="meta">Posted by <a href="javascript:;">@Model.PostedBy</a> on @Model.PostedDate</span>

                </div>
            </div>
        </div>
    </div>
</header>

